@mixin row-count($c) {
  -webkit-column-count: $c;
  column-count: $c;
}

@mixin row-gap($g) {
  -webkit-column-gap: $g;
  column-gap: $g;
}

@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

@mixin youtube-size($width) {
  $w: 90px;
  $h: 64px;

  width: $width;
  height: $width * ($h/$w);
}

@mixin scale-icon($scale) {
  zoom: $scale;
  -moz-transform:scale($scale);
  -moz-transform-origin: 0 0;
}

.body-container {
  padding-right: 15px;
  margin-right: -15px;
  overflow: auto;
  max-height: 100vh;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.card-columns {
  @include row-gap(0.25rem);
}

@media (max-width: 991.98px) {
  .card-columns {
    @include row-count(2);
    @include row-gap(0.25rem);
  }
}

@media (max-width: 767.98px) {
  .card-columns {
    @include row-count(1);
    @include row-gap(0.25rem);
  }
}

@media (max-width: 575.98px) {
  .card-columns {
    @include row-count(1);
    @include row-gap(0.25rem);
  }
}

.card {
  background-color: $global-card-bg-color;
  .card-placeholder {
    @include placeholder;
  }

  .youtube-player {

    .embed-responsive-1by1::before {
      padding-top: 75%;
    }

    a {
      display: block;
      position: relative;

      &:after {
        @include centerer();
        @include youtube-size(54px);
        background: url('./static/pics/youtube-red.svg') no-repeat;
        background-size: cover;
        content: ' ';
        opacity: 0.6;
      }

      &:hover:after {
        opacity: 1;
      }
    }
  }

  .vimeo-player {
    background-color: black;
    .embed-responsive-1by1::before {
      padding-top: 75%;
    }
  }

  .soundcloud-player {
  }

  h5 {
    $delta: 9px;

    position: relative;
    display: table;
    font-size: 16px;
    font-variant: all-petite-caps;
    color: $global-hdr-color;
    font-weight: bold;
    margin-left: $delta;
    &:before {
      @include css-triangle($global-hdr-color, right);
      left: -$delta;
      top: 4px;
    }
  }
}

.card-body {
  padding: 1.25rem 0.5rem 0.75rem 0.75rem;
}

.card-content {
  font-size: 15px;
}

.author-link {
  font-size: 12px;
  display: inline;

  .thumb {
    width: 40px;
    border-radius: 50%;
  }
}

.card-link {
  margin: 0 0 0 -18px;
  font-size: 14px;

  .text {
    margin-left: 3px;
    font-size: 12px;
  }
  span {
    float: right;
  }

}

.flat {
  &-menu {
    position: relative;
    margin-left: 40px;
  }
  &-icon {
    position: absolute;
    left: -18px;
    top: 2px;
  }
}

.post-comment {
  display: inline;
  font-size: 14px;
  a {
    font-size: 12px;
  }

  i {
    font-size: 18px;
    margin-left: 3px;
  }

  .new-comment {
    margin-top: 0.25rem;
    margin-bottom: 0px;
    position: relative;
    width: 100%;

    textarea {
      width: 100%;
      margin-top: 0.5rem;
      resize: none;
      box-sizing: border-box;
      border: 2px solid $global-chat-bg-color;
      border-radius: 8px;
      background-color: $global-chat-bg-color;
      color: $global-txt-color;
      line-height: 0.9rem;
      height: 5rem;

      &:focus {
        outline: none;
        border-radius: 0.5rem;
      }
    }

    i {
      color: $global-chat-icon-color;
      position: absolute;
      top: -4px;
      right: 2px;
      font-size: 22px;
    }

    i:hover {
      color: darken($global-chat-icon-color, 5%);
      cursor: pointer;
    }

    .ir-2 {
      top: -3px;
      right: 28px;
    }
  }

  .comment-item {
    position: relative;
    display: block;
    padding: 0.25rem 0;
    margin-bottom: -1px;
    font-size: 14px;

    .header {
      position: relative;
      display: inline;
      width: 100%;

      .when {
        float: right;
        font-size: 10px;
        color: $global-txt-color-1;
      }

    }
    .body {
      background-color: $global-chat-bg-color;
      padding: 4px;
      border-radius: 0.50rem;
      min-height: 1.5rem;
      line-height: 1.1rem;
    }
    .user-thumb{
        width: 24px;
        margin-right: 3px;
        border-radius: 50%;
    }
    .emojione {
      @include scale-icon(0.7)
    }

    a {
      font-size: 12px;
    }

  }

  .emoji-comment-item {
  }

}

.heart-toggler {
  position: relative;
  width: 40px;

  .text {
    @include center-right;
    font-size: 12px;
    color: $global-txt-color-1;
  }
  i {
    display: inline-block;
  }
}

.post-toggler {
  position: relative;
  i {
    bottom: 1px;
    position: absolute;
    font-size: 18px;
  }
}

.user-thumb-wrapper {
  position: relative;
  .text {
    @include center-right;
    font-size: 10px;
    color: $global-txt-color-1;
  }
}

.post-content {
  display: inline-block;
  margin-bottom: 1em;

  .collapse.show {
    display: inline;
  }
  .emojione {
    @include scale-icon(0.8)
  }
}


.emoji-panel {
  margin: 5px 0;

  .emoji-nav-item {
    width: 20px;
    margin: 0 6px;
  }
  .emoji-nav-link {
    cursor: pointer;
    opacity: 0.8;

    img{
      width: 20px;
      height: 20px;
    }

    i {
      color: $global-chat-icon-color;
      position: relative;
      font-size: 22px;
    }

    i:hover {
      color: darken($global-chat-icon-color, 5%);
      cursor: pointer;
    }
  }
  .emoji-nav-link:hover {
    opacity: 1.0;
  }

  .emoji-tab-content {
    display: block;
    padding-top: 8px;
    max-height: 120px;
    //height: 120px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    .emoji-tab {
      min-height: 24px;
      border: 1px solid red;
      position: relative;
    }
  }

  .panel-data-icon {
    display: inline;
    @include scale-icon(0.8)

    &:hover {
      cursor: pointer;
    }
  }

  .panel-header-icon {
    display: inline;
    margin-right: 3px;
    @include scale-icon(0.8)
  }


}
