// standard color sheme
$global-bg-color: whitesmoke;
$global-hdr-color: #375D81;
$global-chat-bg-color: #fafafa;
$global-txt-color: black;
$global-txt-color-1: gray;

$sidebar-bg-color: #eaeaea;
$sidebar-chat-bg-color: #fafafa;
$sidebar-hdr-color: #375D81;
$sidebar-txt-color: black;
$sidebar-txt-color-1: gray;

