@mixin row-count($c) {
  -webkit-column-count: $c;
  column-count: $c;
}

@mixin row-gap($g) {
  -webkit-column-gap: $g;
  column-gap: $g;
}

@mixin centerer($top: 50%) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-right($right: 0) {
  position: absolute;
  top: 50%;
  right: $right;
  transform: translateY(-50%);
}

@mixin center-left($left: 0) {
  position: absolute;
  top: 50%;
  left: $left;
  transform: translateY(-50%);
}

@mixin youtube-size($width) {
  $w: 90px;
  $h: 64px;

  width: $width;
  height: $width * ($h/$w);
}

@mixin scale-icon($scale) {
  zoom: $scale;
  -moz-transform: scale($scale);
  -moz-transform-origin: 0 0;
}

@mixin flex-col($amount) {
  -ms-flex: 0 0 $amount;
  flex: 0 0 $amount;
  max-width: $amount;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin kikirikii-text-simple($font-size: 22px) {
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 2px;
  font-size: $font-size;
}

@mixin kikirikii-text-rainbow($font-size: 22px) {
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 2px;
  font-size: $font-size;
  span {
    text-shadow: 2px 1px 2px rgba(150, 150, 150, .5);
  }
  span:nth-child(1) {
    color: #ff0000;
  }
  span:nth-child(2) {
    color: #ff7f00;
  }
  span:nth-child(3) {
    color: #ffbf00;
  }
  span:nth-child(4) {
    color: #ffff00;
  }
  span:nth-child(5) {
    color: #00ff00;
  }
  span:nth-child(6) {
    color: #00ffff;
  }
  span:nth-child(7) {
    color: #0080ff;
  }
  span:nth-child(8) {
    color: #0000ff;
  }
  span:nth-child(9) {
    color: #8b00ff;
  }
}

@mixin kikirikii-logo-full($font-size: 62px, $image-height: 140px) {
  position: relative;
  margin: 0 auto;
  width: 340px;
  img {
    max-width: 110px;
    display: inline-flex;
    height: $image-height;
    width: 120%;
    object-fit: fill;
  }
  .logo-rainbow {
    @include kikirikii-text-rainbow($font-size);
    display: inline-flex;
  }
}