@mixin row-count($c) {
  -webkit-column-count: $c;
  column-count: $c;
}

@mixin row-gap($g) {
  -webkit-column-gap: $g;
  column-gap: $g;
}

@mixin centerer($top: 50%) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-right($right: 0) {
  position: absolute;
  top: 50%;
  right: $right;
  transform: translateY(-50%);
}

@mixin youtube-size($width) {
  $w: 90px;
  $h: 64px;

  width: $width;
  height: $width * ($h/$w);
}

@mixin scale-icon($scale) {
  zoom: $scale;
  -moz-transform: scale($scale);
  -moz-transform-origin: 0 0;
}

@mixin flex-col($amount) {
  -ms-flex: 0 0 $amount;
  flex: 0 0 $amount;
  max-width: $amount;
}