@import './common-mixins';

.os-content {
  background-color: whitesmoke;
}

$form-color: #56667C;
$form-bg-color: #D3D8DE;

.container-form {
  margin: 20px auto;

  .container-form-card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    max-width: 640px;
    margin: 0 auto;
    padding: 10px;
    word-wrap: break-word;
    background-clip: border-box;
    //border: 1px solid rgba(0, 0, 0, 0.125);
    //    //background-color: white;
    border-radius: 0.25rem;
  }

  .form-privacy {
    margin-top: 20px;
    width: 100%;
    padding: 0 10px;
    .privacy-text {
      line-height: 1.5em;
      font-size: .8em;
      color: $form-color;
      margin: 0;
    }
  }

  .login-form {
    width: 100%;

    .form-invalid {
      input {
        &:invalid {
          border-color: red;
        }
      }
      button {
        @include animate-css(headShake);
      }
    }

    .register {
      @include center-children;
      margin-top: 40px;
      width: 100%;
    }

    .form-error-message {
      margin-top: 3px;
      color: #dc3545;

    }
  }

  .form-control {
    &:focus {
      @include box-shadow(none);
    }
  }

}

.form-footer {
  position: relative;
  font-size: .8em;
  width: 100%;
  min-height: 44px;
  text-align: center;
  background-color: $form-bg-color;
  color: $form-color;
  p {
    @include center-left(10px);
    width: 100%;
  }
}

.create-account-form {
  @include border-radius(8px);
  position: relative;
  font-size: .8em;
  border: 1px solid lightgray;
  background-color: $form-bg-color;
  color: $form-color;

  max-width: 640px;
  padding: 0 10px 20px 10px;
  margin: 0 auto;

  .invalid-feedback {
    font-size: 1em;
  }

  .logo {
    @include kikirikii-logo-full();
    .title {
      position: absolute;
      font-family: 'Amatic SC', cursive;
      font-size: 38px;
      color: $form-color;
      font-weight: bold;
      top: 68px;
      left: 0;
    }
  }

  .logo-full-with-img {
    @include kikirikii-logo-full-with-img();
    .title {
      position: absolute;
      font-family: 'Amatic SC', cursive;
      font-size: 38px;
      top: 75px;
      left: 110px;
    }
  }

  .radio-button-box {
    position: relative;
    @include border-radius(4px);
    background-color: white;
    border: 1px solid lightgray;
    height: 3em;

    .radio-button-center {
      @include center-left(10px);
      width: 100%;
    }
  }

  .checkbox-right {
    display: inline;
    float: right;
  }
}

