@font-face {
  font-family: 'emojione-moods';
  src:  url('static/fonts/emojione-moods.eot?6yudgd');
  src:  url('static/fonts/emojione-moods.eot?6yudgd#iefix') format('embedded-opentype'),
  url('static/fonts/emojione-moods.ttf?6yudgd') format('truetype'),
  url('static/fonts/emojione-moods.woff?6yudgd') format('woff'),
  url('static/fonts/emojione-moods.svg?6yudgd#emojione-moods') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'emojione-moods' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  //line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-haha:before {
  content: "\1f606";
}
.icon-love:before {
  content: "\1f60d";
}
.icon-sad:before {
  content: "\1f613";
}
.icon-wow:before {
  content: "\1f633";
}
.icon-angry:before {
  content: "\1f620";
}
.icon-like:before {
  content: "\e901";
}

.icon-smiley:before {
  content: "\1f600";
}
.icon-gockel:before {
  content: "\1f413";
}
.icon-wow2:before {
  content: "\1f632";
}
.icon-wow3:before {
  content: "\1f628";
}
.icon-angry2:before {
  content: "\1f621";
}

.icon-earth:before {
  content: "\1f30e";
}

.icon-thumbsUp:before {
  content: "\e900";
}
