
.headlines-container {
  padding: 4px 0 4px 4px;
  position: relative;
  background-color: $sidebar-bg-color;
  color: $sidebar-txt-color;

  h2, h3, h4, h5 {
    color: $sidebar-hdr-color;
  }

  h5 {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-variant: all-petite-caps;
    margin-left: $delta;
    margin-top: 20px;

    &:before {
      @include css-triangle($sidebar-hdr-color, right);
      left: -$delta;
      top: 4px;
    }
  }

  .card-columns {
    padding-right: 9px;

    column-count: 3;
    -webkit-column-gap: 0.25rem;
    -moz-column-gap: 0.25rem;
    column-gap: 0.25rem;
  }

  .card {
    margin-bottom: 0.25rem;
  }

  .pictures-container {
    max-height: 600px;
    overflow-y: auto;

    img {
      &:hover {
        cursor: pointer;
      }
    }

    @media (max-width: 767.98px) {
      .card-columns {
        @include row-count(2);
      }
    }
  }

  .videos-container {
    max-height: 400px;
    overflow-y: auto;

    .card-columns {
      @include row-count(2);
    }
    @media (max-width: 767.98px) {
      .card-columns {
        @include row-count(1);
      }
    }
  }

  .music-container {
    max-height: 400px;
    overflow-y: auto;

    .card-columns {
      @include row-count(1);
    }

  }

}