@import "./common-mixins";




.like-navigation {
  position: relative;
  font-size: .9em;
  width: 100%;
  color: $global-chat-icon-color;

  .right-align {
    font-size: 12px;

    @include center-right(8px);
    color: $global-chat-icon-color;
  }

  .like-content {
    margin-top: 0px;
    width: 100%;

    .like-entry {
      position: relative;
      display: inline-flex;
      padding: 0 12px 0 0;
      color: darken($global-chat-icon-color, 10%);


      .like-emoji {
        font-size: 1.5em;
        @include zoomIn-from(.3s, ease-out);

        &:hover {
          color: darken($global-chat-icon-color, 30%);
          cursor: pointer;
          //@include animate-css(easyShake);
          @include zoomIn-to(1.2);
        }
      }

      .badge {
        font-weight: bolder;
        position: absolute;
        bottom: -14px;
        left: 0;
      }
      .badge-light {
        //min-width: 28px;
        min-width: 22px;
        padding: 2px 2px;
        border: 1px solid rgba($global-chat-icon-color, 0.5);
        color: darken($global-chat-icon-color, 8%);
        background-color: rgba($global-chat-icon-color, 0.25);

        &:hover {
          cursor: pointer;
          border: 1px solid $global-chat-icon-color;
        }
      }
    }
  }
}

.tippy-tooltip.honeybee-theme {
  font-size: 12px;
  border: 1px solid rgba($global-chat-icon-color, 0.5);
  color: darken($global-chat-icon-color, 8%);
  background-color: #E1E9EE;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.honeybee-theme .tippy-arrow {
  border-top-color: rgba($global-chat-icon-color, 1.0);
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.honeybee-theme .tippy-arrow {
  border-bottom-color: rgba($global-chat-icon-color, 1.0);
}


.tippy-tooltip.avatar-theme {
  font-size: 12px;
  border: 1px solid rgba($global-chat-icon-color, 0.5);
  color: darken($global-chat-icon-color, 8%);
  background-color: white;
  padding: 6px;
}

.tippy-popper[x-placement^=top] .tippy-tooltip.avatar-theme .tippy-arrow {
  border-top-color: rgba($global-chat-icon-color, 1.0);
}

.tippy-popper[x-placement^=bottom] .tippy-tooltip.avatar-theme .tippy-arrow {
  border-bottom-color: rgba($global-chat-icon-color, 1.0);
}

.tippy-tooltip.honeybee-theme .tippy-content {
  /* Your styling here. Example: */
}

.like-tooltip {
  min-width: 280px;
  overflow-y: hidden;
  max-height: 280px;
  font-size: 13px;

  a {
    color: $global-chat-icon-color;
  }

  .like-tooltip-list {
    background-color: #333;
    padding: 0; margin: 0;
    list-style-type: none;
  }

  .like-tooltip-entry {
    display: flex;
    padding: 3px 0;
    position: relative;

    .user-thumb {
      width: 24px;
      height: 24px;
      margin-right: 3px;
      border-radius: 50%;
    }

    .like-link {
      color: $global-chat-icon-color;
      cursor: pointer;
      font-size: 13px;

      &:hover {
        text-decoration: underline;
      }
    }

    .like-tooltip-buttons {
      position: absolute;
      right: 4px;
    }

    &:hover {
      background-color: #3f3f3f;
    }

  }

  .btn {
    padding: 1px 6px;
    line-height: 1.42857143;
    font-size: 13px;
    margin-left: 10px;
  }

}

.avatar-tooltip {
  img {
    width: 160px;
    height: 160px;
  }

  span {
    display: flex;
    color: #ffF;
    font-size: 13px;
    position: relative;
    text-align: left;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px 5px 5px 5px;
      content: attr(title);
      background: rgba(0, 0, 0, .6);
    }
  }
}