@import './common-mixins';

@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin align-right-children {
  display: flex;
  justify-content: right;
  align-items: right;
}

.login-form-old {
  @include border-radius(8px);
  position: relative;
  font-size: .8em;
  min-width: 380px;
  //background-color: $global-chat-bg-color;
  //background-color: white;
  border: 1px solid lightgray;

  padding: 10px;
  margin: 40px 0 20px 0;
  height: 70vh;

  form {
    margin-top: 40px;
  }
  .form-invalid {
    input {
      &:invalid {
        border-color: red;
      }
    }
    button {
      @include animate-css(headShake);
    }
  }

  .form-error-message {
    display: inline-block;
    margin-top: 30px;
    line-height: 40px;
    height: 40px;
    border: 1px solid red;
    width: 100%;
    color: red;
  }

  .form-control {
    &:focus {
      @include box-shadow(none);
    }
  }

  .form-group {
    .password-reset {
      @include center-children;
    }
  }

  .register {
    @include center-children;
    position: absolute;
    bottom: 10px;
    left:0;
    width: 100%;
  }

  button {
    margin-top: 40px;
  }

  .logo {
    @include kikirikii-logo-full();
    .title {
      position: absolute;
      font-family: 'Amatic SC', cursive;
      font-size: 38px;
      top: 75px;
      left: 110px;
    }
  }
}

.full-height {
  position: relative;
  height: 93vh;
  min-height: 60vh;
}

//.privacy {
//  position: absolute;
//  bottom: 5vh;
//  width: 100%;
//  padding: 0 40px;
//  z-index: 1;
//  background-color: whitesmoke;
//  .privacy-text {
//    font-size: .8em;
//    color: #6c757d !important;
//  }
//}

//.footer {
//  position: absolute;
//  font-size: .8em;
//  bottom: 0;
//  width: 100%;
//  z-index: 1;
//  //height: 6vh;
//  //line-height: 6vh; /* Vertically center the text there */
//  text-align: center;
//  background-color: $global-chat-bg-color;
//
//  .logo-simple {
//    @include kikirikii-text-simple(22px);
//    display: inline-flex;
//  }
//}