$delta: 8px;

.tippy-tooltip.sidebar-theme {
  font-size: 13px;
  color: $global-chat-icon-color;
}

.sidebar-container {

  h2, h3, h4, h5 {
    color: $sidebar-hdr-color;
  }

  a {
    color: darken($global-chat-icon-color, 15%);
  }

  margin: 0; padding: 4px 8px 4px 8px;
  position: relative;
  background-color: $sidebar-bg-color;
  color: $sidebar-txt-color;

  h5 {
    position: relative;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    font-variant: all-petite-caps;
    margin-left: $delta;

    &:before {
      @include css-triangle($sidebar-hdr-color, right);
      left: -$delta;
      top: 6px;
    }
  }

  .sidebar-title {
    display: block;
    position: relative;
    font-size: 12px;
    margin-bottom: 0.5rem;

    .title-navigation {
      position: absolute;
      bottom: 0;
      right: 0;
      color: darken($global-chat-icon-color, 15%);
      font-size: 13px;

      .btn {
        padding: 2px 3px;
        font-size: 13px;
        line-height: 1.42857143;
        min-width: 28px;
      }
    }
  }
}
.sidebar-entry {
  position: relative;
  line-height: 30px;

  &:hover {
    background-color: #fbfbfb;
  }

  &:hover .sidebar-navigation{
    display: block;
  }

  .sidebar-navigation {
    position: absolute;
    display: none;
    bottom: 3px;right:  0;
    color: $global-chat-icon-color;
    font-size: 13px;

    .btn {
      padding: 2px 3px;
      font-size: 13px;
      line-height: 1.42857143;
    }

    .svg-icon {
      fill: lighten($global-chat-icon-color, 15%);
      width: 20px;
      height: 20px;
    }

    .svg-red {
      fill: lighten($global-chat-icon-color, 15%);
      stroke: lighten($global-chat-icon-color, 15%);
    }

    .sidebar-stack {
      position: relative;

      .stack-bottom {
        font-size: 12px;
      }

      .stack-top {
        position: absolute;
        font-size: 19px;
        left: -4px;
        bottom: -2px;
      }
    }
  }
}

.active-contact {
  font-size: 12px;
  margin-bottom: 0.5rem;

  img {
    width: 32px;
    margin-right: 3px;
    border-radius: 50%;
  }

  span {
    float: right;
    color: $sidebar-txt-color-1;
  }

  i {
    margin-left: 5px;
    margin-right: 2px;
    font-size: 16px;
  }

  .state-thumb {
    display: inline-block;
    position: relative;

    .blocked-img {
      opacity: 0.7;
    }

    .blocked-thumb {
      position: absolute;
      display: flex;
      padding: 0; margin: 0;
      left: 0; bottom: 0;

      i {
        margin: 0;
        font-size: 33px;
        color: darken($global-chat-icon-color, 15%);
        opacity: 0.5;
      }

      svg {
        fill: darken($global-chat-icon-color, 15%);
      }
    }
  }


  .active-chat {
    textarea {
      width: 100%;
      height: 8rem;
      margin-top: 0.5rem;
      resize: none;
      box-sizing: border-box;
      border: 2px solid $sidebar-chat-bg-color;
      border-radius: 8px;
      background-color: $sidebar-chat-bg-color;
      color: $sidebar-txt-color;

      &:focus {
        outline: none;
        border-radius: 0.5rem;
      }
    }
  }

}


