$delta: 8px;
//$chat-bg-color-in: lighten($global-chat-icon-color, 25%);
$chat-bg-color-in: lighten(#2F94FF, 35%);
$chat-bg-color-out: lighten(#99D999, 20%);
$chat-txt-color: darken($sidebar-txt-color, 30%);

.tippy-tooltip.sidebar-theme {
  font-size: 13px;
  color: $global-chat-icon-color;
}

.sidebar-container {

  h2, h3, h4, h5 {
    color: $sidebar-hdr-color;
  }

  a {
    color: darken($global-chat-icon-color, 15%);
  }

  margin: 0; padding: 4px 8px 4px 8px;
  position: relative;
  background-color: $sidebar-bg-color;
  color: $sidebar-txt-color;

  h5 {
    position: relative;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    font-variant: all-petite-caps;
    margin-left: $delta;

    &:before {
      @include css-triangle($sidebar-hdr-color, right);
      left: -$delta;
      top: 6px;
    }
  }

  .sidebar-title {
    display: block;
    position: relative;
    font-size: 12px;
    margin-bottom: 0.5rem;

    .title-navigation {
      position: absolute;
      bottom: 0;
      right: 0;
      color: darken($global-chat-icon-color, 15%);
      font-size: 13px;

      .btn {
        padding: 2px 3px;
        font-size: 13px;
        line-height: 1.42857143;
        min-width: 28px;
      }
    }
  }
}
.sidebar-entry {
  position: relative;
  line-height: 30px;
  margin: 2px 0;

  &:hover {
    background-color: #fbfbfb;
  }

  &:hover .sidebar-navigation{
    display: block;
  }

  .sidebar-waiting {
    position: absolute;
    left: 24px;
    bottom: 15px;
    i {
      font-size: 12px;
      color: lighten($global-chat-icon-color, 15%);
    }
  }

  .sidebar-navigation {
    position: absolute;
    display: none;
    top: 1px;right:  0;
    color: $global-chat-icon-color;
    font-size: 13px;

    .btn {
      padding: 2px 3px;
      font-size: 13px;
      line-height: 1.42857143;
    }

    .svg-icon {
      fill: lighten($global-chat-icon-color, 15%);
      width: 20px;
      height: 20px;
    }

    .svg-red {
      fill: lighten($global-chat-icon-color, 15%);
      stroke: lighten($global-chat-icon-color, 15%);
    }

    .sidebar-stack {
      position: relative;

      .stack-bottom {
        font-size: 12px;
      }

      .stack-top {
        position: absolute;
        font-size: 19px;
        left: -4px;
        bottom: -2px;
      }
    }
  }
}

.active-contact {
  font-size: 12px;
  margin-bottom: 0.5rem;

  img {
    width: 32px;
    margin-right: 3px;
    border-radius: 50%;
  }

  span {
    float: right;
    color: $sidebar-txt-color-1;
  }

  .state-thumb {
    display: inline-block;
    position: relative;

    .blocked-img {
      opacity: 0.5;
    }

    .blocked-thumb {
      position: absolute;
      display: flex;
      padding: 0; margin: 0;
      left: 0; bottom: 0;

      i {
        margin: 0;
        font-size: 33px;
        color: darken($global-chat-icon-color, 15%);
        opacity: 0.5;
      }

      svg {
        fill: whitesmoke;
        stroke: $global-chat-icon-color;
        stroke-width: 0.25;
      }
    }

    .counter-thumb {
      position: absolute;
      display: flex;
      height: auto;
      padding: 0; margin: 0;
      right: -8px; bottom: -5px;
      transition: opacity 1.5s linear, max-height 1.5s linear;

      .badge {
        color: whitesmoke;
        background-color: tomato;
        opacity: 0.8;
      }

      .hide {
        height: 0;
        opacity: 0;
        border: none;
      }
    }
  }

  .btn {
    margin-left: 4px;
    padding: 2px 5px;
    font-size: 15px;
    line-height: 1.42857143;
  }

  .active-frame {
    position: relative;
    display: inline;
  }

  .active-toggle {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1);

    &.active-show {
      max-height: 22em;
      width: 109%;
      overflow: auto;
      margin: 3px 0;
      transition: max-height .5s ease-in-out;
  }

  .chat {
    display: inline;
    font-size: 14px;
    line-height: 1.4em;
    padding: 4px 4px;
    color: $chat-txt-color;
    border-radius: 8px;
    margin: 3px 0;
  }

  .incoming {
    display: flex;
    width: 90%;
    margin-left: 3px;
    background-color: $chat-bg-color-in;
  }

  .outgoing {
    display: flex;
    margin-left: 9%;
    width: 88%;
    margin-right: 2%;
    background-color: $chat-bg-color-out;
  }
}

.active-chat {
  position: relative;
  textarea {
    font-size: 14px;
    width: 98%;
    min-height: 3rem;
    max-height: 8rem;
    margin-top: 0.5rem;
    //resize: none;
    box-sizing: border-box;
    border: 2px solid $sidebar-chat-bg-color;
    border-radius: 8px;
    background-color: darken($sidebar-chat-bg-color, 2%);
    color: $chat-txt-color;
    line-height: 1.4em;
    margin-bottom: 20px;

    &:focus {
      outline: none;
      border-radius: 0.5rem;
    }
  }

  .btn-active {
    position: absolute;
    bottom: 4px;
    right: 12px;
    font-size: 13px;
  }
}

}


