//https://color.adobe.com/de/Bloggy-Gradient-Blues-color-theme-9172511
// blue

@mixin blue-sheme() {
  $nav-bg-color: #183D5B ;
  $nav-font-color: white;

  $global-bg-color: lighten(#C4D7ED, 10%) !global;
  $global-hdr-color: #375D81  !global;
  $global-card-bg-color: lighten(#E1E6FA, 4%)  !global;
  $global-chat-bg-color: darken($global-card-bg-color, 2%)  !global;
  $global-chat-icon-color: darken(#E1E6FA, 17%) !global;
  $global-txt-color: black  !global;
  $global-txt-color-1: #375D81  !global;

  $sidebar-bg-color: #E1E6FA  !global;
  $sidebar-chat-bg-color: darken($sidebar-bg-color, 3%)  !global;
  $sidebar-hdr-color: #375D81  !global;
  $sidebar-txt-color: black  !global;
  $sidebar-txt-color-1: #375D81  !global;
}
