// https://color.adobe.com/de/gray-blue-monochrom-color-theme-7669195
// light-grey

@mixin light-grey-sheme() {
  $nav-bg-color: #183D5B ;
  $nav-font-color: white;

  $global-bg-color: lighten(#5C6375, 50%) !global;
  $global-hdr-color: #171A23 !global;
  $global-card-bg-color: lighten(#737A8C, 44%) !global;
  $global-chat-bg-color: darken($global-card-bg-color, 3%) !global;
  $global-chat-icon-color: darken($global-chat-bg-color, 16%) !global;
  $global-txt-color: black !global;
  $global-txt-color-1: #375D81 !global;

  $sidebar-bg-color: lighten(#737A8C, 40%) !global;
  $sidebar-chat-bg-color: darken($sidebar-bg-color, 3%) !global;
  $sidebar-hdr-color: #171A23 !global;
  $sidebar-txt-color: black !global;
  $sidebar-txt-color-1: #375D81 !global;
}
