// https://color.adobe.com/de/Monochrom-Violett-III-color-theme-9393907
// violett

@mixin violett-sheme() {
  $nav-bg-color: #183D5B ;
  $nav-font-color: white;

  $global-bg-color: lighten(#9A22FF, 35%) !global;
  $global-hdr-color: #7B1BCC !global;
  $global-card-bg-color: lighten(#B45BFF, 28%) !global;
  $global-chat-bg-color: darken($global-card-bg-color, 2%) !global;
  $global-chat-icon-color: darken($global-chat-bg-color, 10%) !global;
  $global-txt-color: black !global;
  $global-txt-color-1: #375D81 !global;

  $sidebar-bg-color: lighten(#B45BFF, 28%) !global;
  $sidebar-chat-bg-color: darken($sidebar-bg-color, 2%) !global;
  $sidebar-hdr-color: #7B1BCC !global;
  $sidebar-txt-color: black !global;
  $sidebar-txt-color-1: #375D81 !global;
}
