@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/overlayscrollbars/css/OverlayScrollbars.css";
@import "../node_modules/video-react/dist/video-react.css";
@import "../node_modules/emojione/extras/css/emojione.css";
@import "../node_modules/emojione-assets/sprites/emojione-sprite-32.min.css";
@import "./styles/_offcanvas.css";
@import "./styles/emojione-awesome.css";
@import "./styles/color-sheme";
@import "./styles/triangle";
@import "./styles/googlefonts";
@import "./styles/placeholder";
@import "./styles/animations";
@import "styles/navigation";
@import "./styles/body-container";
@import "styles/sidebar";

@include googlefonts('Open+Sans+Bold', 'Roboto');

h2, h3, h4, h5 {
  font-family: "Open Sans";
  color: $global-hdr-color;
  font-variant: all-petite-caps;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

body {
  font-family: "Roboto";
}

@mixin flex-col($amount) {
  -ms-flex: 0 0 $amount;
  flex: 0 0 $amount;
  max-width: $amount;
}

.container-fluid {
  margin: 0;
  padding: 0;
  background: $global-bg-color;

  @media (max-width: 991.98px) {
    .col-sm-3 {
      @include flex-col(33%)
    }
    .col-sm-9 {
      @include flex-col(67%)
    }
  }

  @media (max-width: 767.98px) {
    .col-sm-3 {
      @include flex-col(40%)
    }
    .col-sm-9 {
      @include flex-col(60%)
    }
  }

  @media (max-width: 575.98px) {
    .sidebar-container {
      display: none;
    }
    .col-sm-3 {
      -ms-flex: none;
      flex: none;
      max-width: none;
    }
    .col-sm-9 {
      @include flex-col(100%)
    }
  }
}

.col-sm-3 {
  max-width: 24%;
  margin: 0;
  padding: 0 5px 0 0;
}













