@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/overlayscrollbars/css/OverlayScrollbars.css";
@import "../node_modules/video-react/dist/video-react.css";
@import "../node_modules/emojione/extras/css/emojione.css";
@import "../node_modules/emojione-assets/sprites/emojione-sprite-32.min.css";

@import "./styles/emojione-awesome.css";
@import "./styles/color-sheme";
@import "./styles/triangle";
@import "./styles/googlefonts";
@import "./styles/placeholder";
@import "./styles/animations";

@import "./styles/navigation-container";
@import "./styles/body-container";
@import "./styles/sidebar-container";

@include googlefonts('Open+Sans+Bold', 'Roboto');

h2, h3, h4, h5 {
  font-family: "Open Sans";
  color: $global-hdr-color;
  font-variant: all-petite-caps;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

body {
  font-family: "Roboto";
}

.container-fluid {
  margin: 0;
  padding: 0 20px;
  background: $global-bg-color;
}





